.App-header {
  background-color: #3bb9ff;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header img {
  width: 200px;
  height: 60px;
  margin: 10px;
}

.main-content {
  margin-top: 1em;
  height: calc(100vh - 116px);
  padding: 0 2em;
}

.home-page-container {
  padding: 2em;
}

.form-container {
  margin-bottom: 2em;
}
